<app-rxjs1></app-rxjs1>
<app-rxjs1></app-rxjs1>

<app-rxjs2-async></app-rxjs2-async>

<app-rxjs3-http></app-rxjs3-http>

<app-contact-list></app-contact-list>


<app-ngmodel-demo></app-ngmodel-demo>

<app-warning type="error">This is a message</app-warning>

<app-counter (counterChange)="onCounterChange($event)"></app-counter>
<app-counter (counterChange)="onCounterChange($event)"></app-counter>
<app-counter (counterChange)="onCounterChange($event)"></app-counter>
<app-counter (counterChange)="onCounterChange($event)"></app-counter>

<app-messaging (send)="onSend($event)" maxChars="10"></app-messaging>
